version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./packages/db/prisma:/app/packages/db/prisma
    environment:
      - DATABASE_URL=file:/app/packages/db/prisma/dev.db
